<nav
  role="navigation"
  aria-label={{t "shared.components.pagination.title"}}
>
  {{#let (eq @currentPage 1) as |disabled|}}
    {{#ax-button
      iconButton=true
      primary=true
      onClick=(action "previousPage")
      disabled=disabled
    }}
      {{ax-icon
        name="keyboard_arrow_left"
        ariaHidden=disabled
        ariaLabel=(t "shared.components.pagination.switchPageButton" page=previousPage)
      }}
    {{/ax-button}}
  {{/let}}

  <input
    type="number"
    max={{@pagesCount}}
    min="1"
    value={{@currentPage}}
    oninput={{action "updatePage" value="target.value"}}
    aria-current="true"
    aria-label={{t "shared.components.pagination.currentPage" page=@currentPage}}
  >

  {{#let (eq @currentPage @pagesCount) as |disabled|}}
    {{#ax-button
      iconButton=true
      primary=true
      onClick=(action "nextPage")
      disabled=disabled
    }}
      {{ax-icon
        name="keyboard_arrow_right"
        ariaHidden=disabled
        ariaLabel=(t "shared.components.pagination.switchPageButton" page=nextPage)
      }}
    {{/ax-button}}
  {{/let}}

  <span>
    {{t "shared.baseComponents.pagination.pageCount" pagesCount=@pagesCount}}
  </span>
</nav>
