<h1>Checkbox example</h1>
<h2 class="docs-md__h2">Accessibility features</h2>
Accessible behavior added: value of the focused radio button changes when hitting Enter or Space key.
  <h2 class="docs-md__h2">Inline usage</h2>
  A simple checkbox can be created like this:
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-checkbox-inline.hbs"}}
    {{ax-checkbox value=TBD onChange=(action (mut TBD)) label="Inline checkbox"}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-checkbox-inline.hbs"}}
{{/docs-demo}}
If for whatever reason it's not possible to set a label within checkbox,
it can be placed after. In this case, make sure to set ariaLabel (corresponds to aria-label) or labelId (corresponds to aria-labelledby) on the checkbox so that it remains accessible.
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-checkbox.hbs"}}
    <div>{{ax-checkbox value=TBD1 onChange=(action (mut TBD1)) ariaLabel="Accessible checkbox"}} Accessible checkbox with invisible label </div>
    <div id="mainElements">{{ax-checkbox value=TBD2 onChange=(action (mut TBD2)) labelId="mainElements"}} Accessible checkbox </div>
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-checkbox.hbs"}}
{{/docs-demo}}

<h2 class="docs-md__h2">Block usage</h2>
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-checkbox-block.hbs"}}
    {{#ax-checkbox value=true }} Block checkbox {{/ax-checkbox}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-checkbox-block.hbs"}}
{{/docs-demo}}

<h2 class="docs-md__h2">Indeterminate checkbox</h2>
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-checkbox-indeterminate.hbs"}}
    {{#ax-checkbox value=true }}
      Indeterminate checkbox
      <div class="ax-check"></div>
    {{/ax-checkbox}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-checkbox-indeterminate.hbs"}}
{{/docs-demo}}